<footer class="footer">
  <div class="container footer__container">
    <a class="header__link-home" href="#" id="logo">egarra</a>
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="https://www.linkedin.com/in/ihor-khabuzov/">
          <svg class="footer__icon" width="18" height="18" aria-label="linked-in">
            <use href="./assets/images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="https://www.instagram.com/harry.egarra/">
          <svg class="footer__icon" width="18" height="18" aria-label="linked-in">
            <use href="./assets/images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="https://github.com/egarra">
          <svg class="footer__icon" width="18" height="18" aria-label="linked-in">
            <use href="./assets/images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="https://t.me/harry_egarra">
          <svg class="footer__icon" width="18" height="18" aria-label="linked-in">
            <use href="./assets/images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
