<header class="header">
  <div class="container header__container">
    <a class="header__link-home" href="/">egarra</a>
    <div class="header__menu-wrapper">
    {% include 'components/nav-menu.html' %}
      <div class="header__btn-wrapper">
        <a class="header__link">
          <svg class="header__icon" width="18" height="18">
            <use href="./assets/images/sprite.svg#icon-github"></use>
          </svg>
        </a>
        <button class="header__btn">
          <svg class="header__icon" width="18" height="18">
            <use href="./assets/images/sprite.svg#icon-color"></use>
          </svg>
        </button>
      </div>
      <button class="header__contact-btn">Contact me</button>
    </div>
  </div>
</header>
