:root {
    //black theme
    --primary-bg-color: #111827;
    --secondary-bg-color: #172135;
    --accent-text-color: #abadb2;
    //light theme
    --primary-light-bg-color: white;
    --secondary-light-bg-color: #abadb2;
}