.contacts {
  &__wrapper {
    background: #172135;
    border-radius: 25px;
    padding: 78px 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 60px;
    text-align: center;
  }

  &__btn {
    font-size: 60px;
    color: #2563EB;
    font-weight: 700;
    position: relative;
    width: 500px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 15px;
      bottom: -5px;
      left: 0;
      background-color: #2563EB;
      transform-origin: bottom left;
      transition: all 300ms linear;

      transform: scaleX(0);
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
