.footer {
  padding: 16px 0;

  &__container {
    display: flex;
    justify-content: space-between;

    @include mq(desktop) {
      padding: 18px 80px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &__icon {
    fill: var(--primary-light-bg-color);
  }
}
