.hero {
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    display: block;
    line-height: calc(32 / 30);
    margin: 0 auto;

    @include mq(desktop) {
        font-size: 60px;
        line-height: calc(61 / 60);
        width: 432px;
    }
  }

  &__text {
    display: block;
    margin: 24px auto;
    font-size: 16px;
    font-weight: 700;
    color: #abadb2;
    line-height: calc(31 / 24);

    @include mq(desktop) {
        font-size: 24px;
        line-height: calc(31 / 24);
        width: 800px;
    }
  }

  &__list {
    display: block;

    @include mq(desktop) {
      display: flex;
      justify-content: center;
    }
  }

  &__item {
    margin: 0 auto;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 8px;
    background: #172135;
    border-radius: 3px;

    &:not(:first-child) {
      margin-top: 10px;
      @include mq(desktop) {
        margin-left: 16px;
      }
    }
  }

  &__item-text {
    margin-left: 5px;
  }
}
