<section class="exp section">
    <div class="container">
        <h2 class="exp__title">
            My experience
        </h2>
        <ul class="exp__list">
            <li class="exp__item">
                <div class="exp__info-wrapper">
                        <span class="exp__company">SoftRyzen</span>
                        <span class="exp__position">FrontEnd Developer</span>
                </div>
                <div class="exp__info">
                    <h3 class="exp__position-name">FrontEnd Developer at <a href="https://www.linkedin.com/company/softryzen">@SoftRyzen</a></h3>
                    <p class="exp__description">Feb 2023 - Apr 2023</p>
                    <ul class="exp__list-duties">
                        <li class="exp__item-duties"> Work in team - participation in every morning stand-ups;</li>
                        <li class="exp__item-duties"> Communication with designers, QA and customers;</li>
                        <li class="exp__item-duties">
                            Creating 4 landing pages project (QA, Interior-Design, Smile-Dent in project list), working with
                            different teams, 1 time in team-lead postion, 1 time in scrum-master position;</li>
                        <li class="exp__item-duties"> Estimate tasks and work with Trello;</li>
                        <li class="exp__item-duties">
                            Using HTML, SASS, JS, Gulp, Nunjucks, Webpack and Tailwind;</li>
                        <li class="exp__item-duties">
                            One project using React, Redux-Toolkit, TypeScript, WebPack. Creating own ui-kit for this project.
                            Project's title SkillRyzen in my list of projects;</li>
                    </ul>
                </div>
            </li>
            <li class="exp__item">
                <div class="exp__info-wrapper">
                    <span class="exp__company">GoIT</span>
                    <span class="exp__position">Student</span>
                </div>
                <div class="exp__info">
                    <h3 class="exp__position-name">Student at GoIT</h3>
                    <p class="exp__description">Sep 2022 - Jan 2023</p>
                    <ul class="exp__list-duties">
                        <li class="exp__item-duties"> HTML, CSS, JS and React study and practice;</li>
                        <li class="exp__item-duties"> Work in team, 3 team projects were created;</li>
                        <li class="exp__item-duties">
                            Practice API and libraries (<a href="https://www.themoviedb.org/documentation/api">@TMDB</a>, Swiper.js, Slick-slider)</li>
                        <li class="exp__item-duties"> Estimate tasks and work with Trello;</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>