<section class="hero section">
  <div class="container">
    <h1 class="hero__title">Hello! My name is Ihor!</h1>
    <p class="hero__text">
      I am Junior Frontend developer, I focus on React, JavaScript and SASS. I'm looking for a
      remote job, where I can use my skills, to create or improve your product. I have experience
      working in team in real projects. I took part in creating more than 6 projects, and I'm
      experienced in HTML, CSS3, SASS, JavaScript, React.
    </p>
    <ul class="hero__list">
      <li class="hero__item">
        <svg class="hero__icon" width="12" height="12">
          <use href="./assets/images/sprite.svg#icon-html"></use>
        </svg>
        <span class="hero__item-text">HTML</span>
      </li>
      <li class="hero__item">
        <svg class="hero__icon" width="12" height="12">
          <use href="./assets/images/sprite.svg#icon-css"></use>
        </svg>
        <span class="hero__item-text">CSS</span>
      </li>
      <li class="hero__item">
        <svg class="hero__icon" width="12" height="12">
          <use href="./assets/images/sprite.svg#icon-react"></use>
        </svg>
        <span class="hero__item-text">React</span>
      </li>
      <li class="hero__item">
        <svg class="hero__icon" width="12" height="12">
          <use href="./assets/images/sprite.svg#icon-js"></use>
        </svg>
        <span class="hero__item-text">JavaScript</span>
      </li>
      <li class="hero__item">
        <svg class="hero__icon" width="13" height="13">
          <use href="./assets/images/sprite.svg#icon-ts"></use>
        </svg>
        <span class="hero__item-text">TypeScript</span>
      </li>
    </ul>
  </div>
</section>
