<section class="projects" id="projects">
  <div class="projects__container container">
    <h2 class="projects__title">My latest <span>work</span></h2>
    <button class="projects__next slider__btn" aria-label="next slide">></button>
    <button class="projects__prev slider__btn" aria-label="previous slide"><</button>
    <div class="projects__swiper">
      <a
        href="https://skillryzen.netlify.app/certification"
        class="slick-slide projects__swiper-slide"
      >
        <div class="projects__title-wrapper">
          <h3 class="projects__title">SkillRyzen</h3>
          <span class="projects__date">2023</span>
        </div>
        <img src="./assets/images/projects/skillryzen.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">React</li>
          <li class="projects__item">TypeScript</li>
          <li class="projects__item">Webpack</li>
          <li class="projects__item">Redux</li>
        </ul>
        <p>Digital platform, where any student can check his knowledge.</p>
      </a>
      <a
        href="https://softryzen-internship.github.io/interior-design/"
        class="slick-slide projects__swiper-slide"
      >
        <div class="projects__title-wrapper">
          <h3 class="projects__title">Interior Design</h3>
          <span class="projects__date">2023</span>
        </div>
        <img src="./assets/images/projects/interio.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">HTML</li>
          <li class="projects__item">SASS</li>
          <li class="projects__item">JavaScript</li>
          <li class="projects__item">Gulp</li>
        </ul>
        <p>Site which allows clients to choose style of their houses.</p>
      </a>
      <a href="http://fit-gym.softryzen.com/" class="slick-slide projects__swiper-slide">
        <div class="projects__title-wrapper">
          <h3 class="projects__title">Fit-Gym</h3>
          <span class="projects__date">2023</span>
        </div>
        <img src="./assets/images/projects/fit-gym.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">HTML</li>
          <li class="projects__item">SASS</li>
          <li class="projects__item">JavaScript</li>
          <li class="projects__item">Gulp</li>
          <li class="projects__item">Nunjucks</li>
        </ul>
        <p>Resource is used to show what services and prices provides gym.</p>
      </a>
      <a href="https://softryzen-internship.github.io/smile-dent/" class="slick-slide projects__swiper-slide">
        <div class="projects__title-wrapper">
          <h3 class="projects__title">Smile Dent</h3>
          <span class="projects__date">2023</span>
        </div>
        <img src="./assets/images/projects/smile-dent.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">HTML</li>
          <li class="projects__item">SASS</li>
          <li class="projects__item">JavaScript</li>
          <li class="projects__item">Gulp</li>
        </ul>
        <p>Site, which tells clients about dental hospital.</p>
      </a>
      <a href="https://iargina.github.io/FlexyPlanner/" class="slick-slide projects__swiper-slide">
        <div class="projects__title-wrapper">
          <h3 class="projects__title">FlexyPlanner</h3>
          <span class="projects__date">2023</span>
        </div>
        <img src="./assets/images/projects/flexy-planner.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">HTML</li>
          <li class="projects__item">SASS</li>
          <li class="projects__item">Parcel</li>
          <li class="projects__item">JavaScript</li>
        </ul>
        <p>This site was created to tell about product with possibility of buying online.</p>
      </a>
      <a
        href="https://egarra.github.io/ice-cream-project/"
        class="slick-slide projects__swiper-slide"
      >
        <div class="projects__title-wrapper">
          <h3 class="projects__title">Ice-Cream</h3>
          <span class="projects__date">2022</span>
        </div>
        <img src="./assets/images/projects/ice-cream.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">HTML</li>
          <li class="projects__item">SASS</li>
          <li class="projects__item">Parcel</li>
          <li class="projects__item">JavaScript</li>
        </ul>
        <p>This site was created during my study in GoIT school. It was our first team project.</p>
      </a>
      <a
        href="https://egarra.github.io/filmoteka-project/"
        class="slick-slide projects__swiper-slide"
      >
        <div class="projects__title-wrapper">
          <h3 class="projects__title">Filmoteka</h3>
          <span class="projects__date">2022</span>
        </div>
        <img src="./assets/images/projects/filmoteka.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">HTML</li>
          <li class="projects__item">SASS</li>
          <li class="projects__item">Parcel</li>
          <li class="projects__item">JavaScript</li>
          <li class="projects__item">API</li>
        </ul>
        <p>This site was created during my study in GoIT school. It was our second team project.</p>
      </a>
      <a href="https://svetlankogr.github.io/wallet" class="slick-slide projects__swiper-slide">
        <div class="projects__title-wrapper">
          <h3 class="projects__title">Wallet</h3>
          <span class="projects__date">2023</span>
        </div>
        <img src="./assets/images/projects/wallet.jpg" width="448" />
        <ul class="projects__list">
          <li class="projects__item">React</li>
          <li class="projects__item">Redux</li>
          <li class="projects__item">JavaScript</li>
          <li class="projects__item">React Router</li>
        </ul>
        <p>This site was created during my study in GoIT school. It was our third team project.</p>
      </a>
    </div>
  </div>
</section>
