<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" href="#">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#projects">About</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#exp">Work</a>
    </li>
  </ul>
  <button class="menu__burger" aria-label="show-menu" type="button">
    <span class="menu__burger-bar"></span>
    <span class="menu__burger-bar"></span>
    <span class="menu__burger-bar"></span>
  </button>
  <div class="menu__btn-wrapper">
    <a class="menu__link" href="https://github.com/egarra">
      <svg class="menu__icon" width="18" height="18">
        <use href="./assets/images/sprite.svg#icon-github"></use>
      </svg>
    </a>
    <button class="menu__btn">
      <svg class="menu__icon" width="18" height="18">
        <use href="./assets/images/sprite.svg#icon-color"></use>
      </svg>
    </button>
  </div>
  <button class="menu__contact-btn">Contact me</button>
</nav>
