<ul class="projects-mobile__list">
  <li class="projects-mobile__item">
    <a
      href="https://skillryzen.netlify.app/certification"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">SkillRyzen</h3>
        <span class="projects-mobile__date">2023</span>
      </div>
      <img src="./assets/images/projects/skillryzen.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">React</li>
        <li class="projects-mobile__dev-item">TypeScript</li>
        <li class="projects-mobile__dev-item">Webpack</li>
        <li class="projects-mobile__dev-item">Redux</li>
      </ul>
      <p class="projects-mobile__description">Digital platform, where any student can check his knowledge.</p>
    </a>
  </li>
  <li class="projects-mobile__item">
    <a
      href="https://softryzen-internship.github.io/interior-design/"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">Interior Design</h3>
        <span class="projects-mobile__date">2023</span>
      </div>
      <img src="./assets/images/projects/interio.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">HTML</li>
        <li class="projects-mobile__dev-item">SASS</li>
        <li class="projects-mobile__dev-item">JavaScript</li>
        <li class="projects-mobile__dev-item">Gulp</li>
      </ul>
      <p class="projects-mobile__description">Site which allows clients to choose style of their houses.</p>
    </a>
  </li>
  <li class="projects-mobile__item">
    <a
      href="http://fit-gym.softryzen.com/"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">Fit-Gym</h3>
        <span class="projects-mobile__date">2023</span>
      </div>
      <img src="./assets/images/projects/fit-gym.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">HTML</li>
        <li class="projects-mobile__dev-item">SASS</li>
        <li class="projects-mobile__dev-item">JavaScript</li>
        <li class="projects-mobile__dev-item">Gulp</li>
        <li class="projects-mobile__dev-item">Nunjucks</li>
      </ul>
      <p class="projects-mobile__description">Resource is used to show what services and prices provides gym.</p>
    </a>
  </li>
  <li class="projects-mobile__item mobile-visually-hidden">
    <a
      href="https://softryzen-internship.github.io/smile-dent/"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">Smile Dent</h3>
        <span class="projects-mobile__date">2023</span>
      </div>
      <img src="./assets/images/projects/smile-dent.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">HTML</li>
        <li class="projects-mobile__dev-item">SASS</li>
        <li class="projects-mobile__dev-item">JavaScript</li>
        <li class="projects-mobile__dev-item">Gulp</li>
      </ul>
      <p class="projects-mobile__description">Site, which tells clients about dental hospital.</p>
    </a>
  </li>
  <li class="projects-mobile__item mobile-visually-hidden">
    <a
      href="https://egarra.github.io/ice-cream-project/"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">Ice-Cream</h3>
        <span class="projects-mobile__date">2022</span>
      </div>
      <img src="./assets/images/projects/ice-cream.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">HTML</li>
        <li class="projects-mobile__dev-item">SASS</li>
        <li class="projects-mobile__dev-item">JavaScript</li>
        <li class="projects-mobile__dev-item">Parcel</li>
      </ul>
      <p class="projects-mobile__description">This site was created during my study in GoIT school. It was our first team project.</p>
    </a>
  </li>
  <li class="projects-mobile__item mobile-visually-hidden">
    <a
      href="https://egarra.github.io/filmoteka-project/"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">Filmoteka</h3>
        <span class="projects-mobile__date">2022</span>
      </div>
      <img src="./assets/images/projects/filmoteka.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">HTML</li>
        <li class="projects-mobile__dev-item">SASS</li>
        <li class="projects-mobile__dev-item">JavaScript</li>
        <li class="projects-mobile__dev-item">Parcel</li>
        <li class="projects-mobile__dev-item">API</li>
      </ul>
      <p class="projects-mobile__description">This site was created during my study in GoIT school. It was our second team project.</p>
    </a>
  </li>
  <li class="projects-mobile__item mobile-visually-hidden">
    <a
      href="https://svetlankogr.github.io/wallet"
      class="projects-mobile__link"
    >
      <div class="projects-mobile__title-wrapper">
        <h3 class="projects-mobile__title">Wallet</h3>
        <span class="projects-mobile__date">2023</span>
      </div>
      <img src="./assets/images/projects/wallet.jpg" width="280" />
      <ul class="projects-mobile__dev-list">
        <li class="projects-mobile__dev-item">React</li>
        <li class="projects-mobile__dev-item">Redux</li>
        <li class="projects-mobile__dev-item">JavaScript</li>
        <li class="projects-mobile__dev-item">React Router</li>
      </ul>
      <p class="projects-mobile__description">This site was created during my study in GoIT school. It was our third team project.</p>
    </a>
  </li>
</ul>
<button class="projects-mobile__btn">Show more</button>
